.v-text-field {
  font-size: 14px !important;

  .v-input__slot {
    min-height: 36px !important;

    .v-input__append-inner {
      margin-top: 6px !important;
    }
  }

  &.error-background {
    &.v-text-field--filled > .v-input__control > .v-input__slot {
      background: rgba(255, 102, 131, 0.2) !important;
    }
  }
}
